/* div[class] {
    border: 1px solid gray;
} */
.cards-component>div:nth-child(odd) {
    /* background-color: lightgray; */
	text-align: right;
}
.cards-component>div:nth-child(even) {
    /* background-color: lightgoldenrodyellow; */
	text-align: left;

}
.fas {
    color: red;
}
/* ...................... */
#centere{
	text-align: center;
}
body {
	color: black;
}
header{
	background-color: #50C878;
}
div.Right{
	text-align: right;
}
div.Left{
	text-align: left;
}
.header {
	display: grid;
	color: black;
	padding: auto;
}

  /* RWD */
  @media only screen and (min-width: auto) {
	/* For tablets: */
	.col-s {width: auto;}
  }
  @media only screen and (min-width: auto) {
	/* For desktop: */
	.col {width: auto;}
  }
  /* ............. */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ============ desktop view .end// ============ */

.grid {
	  display: grid;
	  grid-template-columns: auto auto auto;
	  grid-template-rows: auto auto auto;
	  grid-template-areas: 
	  	'header header'
		'leftbar rightbar '
		'footer footer'
		'end end';
  }
.page-header {
	grid-area: header;
	font-size: 16px;
	padding: auto;
	background-color: #50C878;
}
.page-leftbar {
	grid-template-columns: auto auto;
	grid-area: leftbar;
	font-size: 16px;
	padding: auto;
	/* background-color: #501478; */
}

.page-rightbar {
	grid-template-columns: auto;
	grid-area: rightbar;
	font-size: 16px;
	padding: auto;
	/* background-color: #774a97; */
}
#page-footer {
	grid-template-columns: auto auto;
	grid-area: footer;
	font-size: 16px;
	padding: auto;
	/* background-color: #9900ff; */
}
#page-end {
	grid-template-columns: auto auto;
	grid-area: footer;
	font-size: 16px;
	padding: auto;
	background-color: #90f7b2;
}
ul {
	display: inline;
	white-space: nowrap;
	list-style: none;
	padding: 0;
	margin: 0;
}
#border{
	border-style: solid;
}
li {	
	display: inline;
	padding-left: 14px;
}

li a {
	color: black;
	font-size: 12px;
	text-decoration: none;
}

.newLine{
	display: block;
  }

h4 {
	/* font-size: 28px; */
	color: black;
}
h1 {
	text-align: center;
	color: black;
	/* background-color: #50C878 */
}
p {
	font-size: 4px;
}
span {
	font-size: 8px;
}
nav {
	font-size: 18px;
}

#none{
	display: none;
}
#Fixed {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	top: auto;
	color: white;
	background-color: rgb(147, 119, 247);
	text-align: center;
}

a:hover, a:visited, a:link, a:active { 
	text-decoration: none;

} 

#newsletter-subscribe{
	display: none;
	position: absolute;
	left: 0%;
	top: 50%;
}

#subscribe a {
    font-family: Fakt,sans-serif;
    padding: 10px 10px;
    color: inherit;
    text-align: center;
    border-radius: 5%;
    position: absolute;
    display: flex;
    top: 30px;
	right: 150px;
}

.header_account-links a {
    color: inherit;
    padding: 0;
    border: none;
    background: none;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 40px;
    right: 90px;
}

#search-btn {
    position: top;

}
.panel--nav {
	display: none;
	position: absolute;
	left: 0%;
	column-width: 30%;
	top: 10%;
}
/* .header:hover .panel--nav{
	display: block;
	background-color: bisque;
} */
.header:hover #newsletter-subscribe{
	display: block;
	position: absolute;
	background-color: rgb(126, 233, 153);
	left: auto;
	top: auto;

}